/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 2%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Nunito Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
  background-color: #F8FAFB;
}


/*Header
__________________________________________________ */
header{
    background-color: #194164; /*67B9A8 or #50E3C2*/
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%
       }

header h3{padding-top: 5%; color: #fff; }

header p{color: #fff;}
/* Logo
_________________________________________________*/
.logo-holder{ width: 100%; padding-bottom: 20px; margin-top: 15%;}

@media (max-width: 550px){
.logo-holder{ width:25%; display: block;  margin: auto; padding-top: 20px;}}


/* Menu
_________________________________________________*/
.mymenu ul{
  list-style-type:none;
  margin:0!important;
  padding:0;
}

.mymenu  ul li { margin-top: 0px !important;}
.mymenu li { margin-bottom: 0px !important; margin-right: 1px !important;}
.mymenu li a {
  display:block;
  width: 100%;
  line-height: 50px;
  color: #222;
  text-decoration: none;
  padding: 5px;
  margin: 0px;
  font-weight: 900;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #CCCDD6;
    }

/*Hover state for top level links*/
.mymenu li:hover a { 
  background: #235EBA ;
  color: #fff; }

.mymenu .show-custommenu {
  text-decoration: none;
  color: #222;
  background: #62B7A8;
  text-align: center;
  padding: 10px 0;
  display: none;
}

/*Hide checkbox*/
.mymenu input[type=checkbox]{ display: none;}

/*Show menu when invisible checkbox is checked*/
.mymenu input[type=checkbox]:checked ~ #custom_menu{
    display: block;
}

@media screen and (max-width : 760px){
    .mymenu ul{ display: none; }
    
    /*Display 'show menu' link*/
  .mymenu .show-custommenu { display:block;}
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300; }
h1 { font-size: 3.0rem; line-height: 1.2;}
h2 { font-size: 2.4rem; line-height: 1.25;  }
h3 { font-size: 1.8rem; line-height: 1.3;   }
h4 { font-size: 1.5rem; line-height: 1.35;  }
h5 { font-size: 1.2rem; line-height: 1.5;  }
h6 { font-size: 1rem; line-height: 1.6; font-weight: 600;  }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 4.0rem; }
  h2 { font-size: 3.6rem; }
  h3 { font-size: 3.2rem; }
  h4 { font-size: 2.6rem; }
  h5 { font-size: 2.2rem; }
  h6 { font-size: 1.6rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }

/*Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.paintchips {
  width: 237px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .5);
  margin-top: 5%;
}
.paint-color  {
  height: 236px;
  background-color: #235eba;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.gris{background-color: #F2F2F2;}
.agua-azul{ background-color: #235eba;}
.indigo{background-color: #194164;}
.cielito-lindo{background-color: #4EACE0;}
.green-grillo{background-color: #14C673;}
.sun-yellow{background-color: #FFCC4F;}


.text-1 {
  margin: 12px 0 0 5.6566455696%;
  font-size: 1.231em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.text-2 {
  margin:0 0 0 6.05881%;
  font-size: 1em;
  color: #444444;
}

.text-3 {
  margin: 0 0 0 5.65665%;
  font-style: italic;
  font-size: 1em;
  color: #444444;
}

.text-4 {
  margin: 0 0 0 6.4807499999%;
  padding-bottom: 8px;
  font-size: 1em;
  color: #444444;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button-text{
  text-align: center;
vertical-align: middle;
line-height: 67px; 
}
.button-1 {
  width: 100%;
  height: 67px;
  padding: 1px;
  color: #ffffff;
  border-radius: 3px;
  background-color: #235eba;
}

.button-1:active {
  background-color: #174381;
}

.button-2{
  width: 100%;
  height: 67px;
  padding: 1px;
  border-radius: 3px;
  background-color: #14c673;
}

.button-2:active {
  background-color: #109e5b;
}

.button-3 {
  width: 100%;
  height: 67px;
  padding: 1px;
  border-radius: 3px;
  background-color: #4eace0;
}

.button-3:hover {
  border: 2px solid #72bce6;
  background-color: #4eace0;
}

.button-3:active {
  background-color: #3e8ab4;
}

.button-4 {
  width: 100%;
  height: 67px;
  padding: 1px;
  border-radius: 3px;
  background-color: #ffcc4f;
}

.button-4:active {
  background-color: #e5b847;
}

.button-footer {
  width: 235px;
  height: 59px;
  padding: 1px;
  border: 4px solid #676767;
  border-radius: 3px;
  background-color: #194164;
  color: #ffffff;
   
}
.button-text-footer{
  text-align: center;
vertical-align: middle;
line-height: 59px; 
}

.disable-button {
  width: 100%;
  height: 67px;
  padding: 1px;
  border-radius: 3px;
  background-color: #c7c7c9;
}
.disable-button-text {
  text-align: center;
vertical-align: middle;
line-height: 67px; 
  text-shadow: 0 2px 0 rgba(244, 241, 234, 0.9);
  font-size: 1em;
  text-align: center;
  color: #9e9da2;
}

.button-1:hover,
.button-2:hover,
.button-4:hover,
.element-7:hover {
  border: 2px solid #4eace0;
}

.button-footer:active {
  background-color: #ffffff;
  color: #194164;
}

.setup-button {
  width: 595px;
  height: 272px;
  border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .5);
}

.setup-button:active {
  background-color: #235eba;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .5);
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  width: 100%  }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: .5rem;
  border-width: 0;
  border-top: 5px solid #194164; }

.layout-iamges{width: 90%; margin-bottom: 20px;}

i {
    border: solid #235EBA;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer{
     position: relative;
    display: block;
    margin: 0 auto;
    width: 100%}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
